# Data Analysis
numpy == 2.1.1
pandas == 2.2.2
scipy == 1.14.1

# Data Visualization
graphviz == 0.20.3
matplotlib == 3.9.2
seaborn == 0.13.2

# Machine Learning
imbalanced-learn == 0.13.0
scikit-learn == 1.5.2
xgboost == 2.1.1
